.sidenav{
    background-color: #3c3d42;
    height: 100%;
    width: 22%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    -moz-box-shadow:    3px 0 8px 0 #3c3d42;
    -webkit-box-shadow: 3px 0 8px 0 #3c3d42;
    box-shadow:         3px 0 8px 0 #3c3d42;
}

.main{
    margin-left: 25%;
    padding: 0px 10px;
}
body {
    background-color: #ffffff ;
    font-family: consolas;
    font-size: 13pt;
    margin: auto;
    width: 75%;
    text-align: justify;
}

img {
    border-radius: 50%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border: 5px solid #ffffff;
}

h1{
    text-align: left;
    font-size: 40pt;
    color: #3c3d42;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
h1.page-header {
    margin: 0;
    padding: 0;
  }

h2{
    text-align: left;
    font-size: 24pt;
    color: #3c3d42;
    font-family: consolas;
    font-weight: bold;
}
h3{
    text-align: left;
    font-size: 16pt;
    color: #3c3d42;
    font-family: consolas;
    font-weight: bold;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
h4{
    text-align: left;
    font-size: 10pt;
    color: #3c3d42;
    font-family: consolas;
    font-weight: bold;
    padding-top: 0;
    margin-top: 0;
}
h5{
    text-align: center;
    font-size: 24pt;
    color: rgb(255, 255, 255);
    font-family: consolas;
    font-weight: bold;
    padding-top: 0;
    margin-top: 0;
}
h6{
    text-align: left;
    font-size: 16pt;
    color: #ffffff;
    font-family: consolas;
    font-weight: bold;
    margin-bottom: 0%;
    padding-bottom: 0%;
    margin-left: 5%;
}
p{
    text-align: left;
    font-size: 12pt;
    color: #3c3d42;
    font-family: consolas;
}

li{
    text-align: left;
    font-size: 12pt;
    color: #3c3d42;
    font-family: consolas;
}

a{
    color: #470097;
    text-decoration: underline;
}